<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.chat.socket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.register.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MainTestActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.chat.MainChatActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.camera.CameraActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ChooseImages.ChooseImagesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.media.ShowMediaPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"></activity>
        <activity
            android:name=".ui.activity.contact.ContactSelectActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.chat.ChatGroupInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.group.MyGroupsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.edit.SingleInputEditActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.chat.face.FaceSourceDownActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.setting.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.edit.MineEditActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.edit.InputEditActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>